{{template "base" .}}

{{define "title"}}Все страны{{end}}

{{define "main"}}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <h2>Страны</h2>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">CountriesName</th>
                    <th scope="col">Flag</th>
                    <th scope="col">ReligionID</th>
                    <th scope="col">LanguagesID</th>
                    <th scope="col">GovernmentFormID</th>
                    <th scope="col">TerritorySizeID</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    {{range .BD}}
                    <tr>
                        <td>{{.ID}}</td>
                        <td>{{.CountriesName}}</td>
                        <td>{{.Flag}}</td>
                        <td>{{.ReligionID}}</td>
                        <td>{{.LanguagesID}}</td>
                        <td>{{.GovernmentFormID}}</td>
                        <td>{{.TerritorySizeID}}</td>
                    </tr>
                    {{ else }}
                        Нет данных!
                    {{ end }}
                </tr>
                </tbody>
            </table>
        </div>
    </main>
{{end}}